.App {
  text-align: center;
}

ul{
  width:255px;
  margin:20px auto;
  padding-left:0;
}

ul  li{
  text-align:left;
  list-style: none;
  padding-left:5px;
  background:goldenrod;
  color:#ffffff;
  margin-bottom:10px;
}

ul  li input[type='button']{
  float:right;
  cursor: pointer;
}
ul  li input[type='text']{
  width:120px;
}